<% angular_controller = "PlayerCtrl" %>

<div id="header">
    <div id="logo">gif me baby one more time</div>
    <div id="song_name"><%- song_name %></div>
</div>
<div id="gif_block">
    <div id="gif_inner">
    </div>
    <div id="play_pause">
        <div id="play_container" class="play_ready">
            <div id="play_icon"></div>
            <div id="pause_icon"></div>
        </div>
    </div>
</div>
<div id="edit_toggle">focus</div>
<div id="gif_strip">
    <div id="side_bottom">
        <div ng-repeat="gif in images" class="gif_box" style="background-image: url({{base_url}}{{gif.filename}});"></div>
        <a id="suggest_more" href="#">
            <div id="suggest_arrow"></div>
        </a>
    </div>
</div>

<!-- JavaScript -->
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script type="text/javascript" src="/js/vendor/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="/js/player.js"></script>
<script type="text/javascript" src="/js/play_page.js"></script>
<script type="text/javascript">var currentSong = <%- soundcloud_payload %>;</script>
